flows.json
[
    {
        "id": "733b845c34b41557",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "18aa2c5c19978980",
        "type": "mqtt in",
        "z": "733b845c34b41557",
        "name": "",
        "topic": "/MDU/ITE130/Group5/Moisture",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "de3e83b6c0f530d2",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 310,
        "y": 120,
        "wires": [
            [
                "1ac23175afa9be8c",
                "77b309ca04640480",
                "2c530eeb46c0d728"
            ]
        ]
    },
    {
        "id": "1ac23175afa9be8c",
        "type": "ui_gauge",
        "z": "733b845c34b41557",
        "name": "",
        "group": "68cdba3a650a81d9",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "350",
        "seg2": "600",
        "diff": false,
        "className": "",
        "x": 590,
        "y": 200,
        "wires": []
    },
    {
        "id": "77b309ca04640480",
        "type": "function",
        "z": "733b845c34b41557",
        "name": "function 1",
        "func": "if (msg.payload <= 350)\nmsg.payload = \"Vattna inte mer\"\n\nelse if (msg.payload > 350 && msg.payload <= 600)\nmsg.payload = \"Lagom\"\n\nelse \nmsg.payload = \"Vattna mig\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 80,
        "wires": [
            [
                "24c508f837f78837"
            ]
        ]
    },
    {
        "id": "2c530eeb46c0d728",
        "type": "ui_chart",
        "z": "733b845c34b41557",
        "name": "",
        "group": "68cdba3a650a81d9",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "200",
        "ymax": "800",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 590,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "24c508f837f78837",
        "type": "ui_text",
        "z": "733b845c34b41557",
        "group": "68cdba3a650a81d9",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 690,
        "y": 100,
        "wires": []
    },
    {
        "id": "de3e83b6c0f530d2",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "68cdba3a650a81d9",
        "type": "ui_group",
        "name": "Default",
        "tab": "b59f3276fa92b60d",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "b59f3276fa92b60d",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "eedc1f34eb1098dc",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]